<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>遥控器</title>
    <script src="js/libs/jquery-1.9.1.min.js" type="text/javascript"></script>

</head>
<body>
<button onclick="send('test','play','pp')">播放或暂停</button>
<button onclick="send('test','play','back')">上一首</button>
<button onclick="send('test','play','front')">下一首</button>
<button onclick="send('test','play','random')">随机播放一个</button>
<p>
    播放模式:
    <input id="play_style_normal" class="radio" checked type="radio" name="play_style" value="normal" />顺序
    <input id="play_style_desc"class="radio" type="radio" name="play_style" value="desc" />倒序
    <input id="play_style_random"class="radio" type="radio" name="play_style" value="random" />随机
</p>

</body>
<script>
    function send(token,order,value) {
//        var url = 'http://localhost:3000/c/'+token+'/'+order+'/'+value;
        var url = 'http://192.168.0.41:3000/c/'+token+'/'+order+'/'+value;
        console.log(url);
        $.get(url,function (data,st) {
            console.log(data)
        });
    }

    $('.radio').change(function () {
        console.log('change!')
    })
</script>
</html>