<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>我的音乐</title>
    <script src="js/libs/jquery-1.9.1.min.js"></script>
    <script src="js/libs/vue.js"></script>

  </head>
  <body>
    <button type="button" id="start">选择一个文件夹</button>
    <div style="height: 5em">
        <p>当前音乐:<b id="current_music"></b></p>
        <audio id="audio" controls/>
    </div>
    <ul id="list">
        <li v-for="item in items">
            <div @click="checkout(item)">
                {{ item.fileName }}
            </div>
        </li>
    </ul>
    <script>
        var list = new Vue({
            el: '#list'
            ,data: {
                items: []
            }
            ,methods:{
                checkout : function (item) {
                    $('#current_music').html(item.fileName);
                    $('#audio').attr('src',item.basePath + '/' +item.fileName);
                }
            }
        });

        var fileUtil = require('./js/utils/fileUtil');
        var fs = require('fs');
        $('#start').click(function () {
            const {dialog} = require('electron').remote;
            dialog.showOpenDialog({
                properties: ['openDirectory']
            },function(path){
                if(path){
                    var choosedDir = path.toString();
                    fileUtil.getAudios(choosedDir,function (files) {
                        list.items = [];
                        files.forEach(function (file) {
                            list.items.push({fileName:file,basePath:choosedDir})
                        });
                        //发送歌单给后台
                        $.post('http://localhost:3000/saveList',{music_list:JSON.stringify(files)},function (data) {
                            console.log(data)
                        });
                    });

                }else {
                    console.log("No path selected");
                }
            });
        });


    </script>

  <script src="../server.js"></script>

    <script src="./js/libs/socket.io.js"></script>
    <script>
        var socket = io.connect('http://localhost:3000');
        socket.on('test', function (data){
            console.log('服务端收到');
            console.log(data);
//            if(audio.paused){
//                audio.play();
//                return;
//            }
//            audio.pause();
        });
    </script>
  </body>
</html>