<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>我的音乐</title>
    <script src="js/libs/jquery-1.9.1.min.js"></script>
    <script src="js/libs/jquery.qrcode.min.js"></script>
    <script src="js/libs/vue.js"></script>
    <script src="js/utils/CM.js"></script>
    <style type="text/css">
        body{
            overflow-x: hidden;
        }
    </style>
  </head>
  <body>
    <button type="button" id="start">选择一个文件夹</button>
    &nbsp;&nbsp;<span id="current_dir">当前文件夹</span>
    <br/>
    <br/>
    <div style="padding: 1em;border: 2px solid red;text-align: center">
        <p>扫码进入控制器</p>
        <div style="position: relative;left: 35%" id="qrcode"></div>
    </div>
    <div style="height: 8em">

        <p>播放模式:<span id="play_style">顺序</span></p>
        <button onclick="startWork()">刷新歌单</button>
        <p>当前音乐:<b id="current_music"></b></p>
        <audio id="audio" controls autoplay/>
    </div>
    <ul id="list">
        <li v-for="item in items">
            <div @click="checkout(item)">
                {{ item.fileName }}
            </div>
        </li>
    </ul>
    <script>

        var mAudio = document.querySelector('#audio');
        mAudio.volume = 0.8;
        var mList = [];//音乐
        var mCurrentIndex = 0;
        var mPlayStyle = 'normal';
        var chokidar = require('chokidar');//监控文件夹变化
        var dirscanReady = false;
        function startWatch(chooesdDir) {
            var watcher = chokidar.watch(chooesdDir, {
                ignored: /[\/\\]\./,
                persistent: true
            });

            watcher.on('ready',function () {
                //console.log('Initial scan complete. Ready for changes');
                dirscanReady = true;
            }).on('all',function (event,path) {
                //console.log(dirscanReady , 'all!');
                //console.log(event , path);
                if(dirscanReady){
                    startWork()
                }
            });
        }

        var list = new Vue({
            el: '#list'
            ,data: {
                items: []
            }
            ,methods:{
                checkout : function (item) {
                    $('#current_music').html(item.fileName);
                    $('#audio').attr('src',item.basePath + '/' +item.fileName);
                }
            }
        });

        var fileUtil = require('./js/utils/fileUtil');
        var fs = require('fs');
        $('#start').click(function () {
            const {dialog} = require('electron').remote;
            dialog.showOpenDialog({
                properties: ['openDirectory']
            },function(path){
                if(path){
                    window.localStorage.setItem('music_path',path.toString());
                    startListMusic(path.toString())
                }else {
                    console.log("No path selected");
                }
            });
        });

        function startListMusic(choosedDir){
            startWatch(choosedDir);
            $('#current_dir').html(choosedDir);
            fileUtil.getAudios(choosedDir,function (files) {
                list.items = [];//清空
                files.forEach(function (file) {
                    list.items.push({fileName:file,basePath:choosedDir})
                });
                //设置第一首歌
                var firstSong = files[0];
                if(firstSong){
                    setMusic(firstSong)
                }
                mList = files;//放到全局
                //发送歌单给后台
                $.post('http://localhost:3000/saveList',{music_list:JSON.stringify(files)},function (data) {
                    console.log(data)
                });
            });
        }

        function startWork() {
            if(getMusicPath()){
                startListMusic(getMusicPath())
            }
            dirscanReady = false;//重要
        }

        function setMusic(filename) {
            $('#current_music').html(filename);
            $('#audio').attr('src',getMusicPath() + '/' +filename);
        }

        function getMusicPath() {
            return window.localStorage.getItem('music_path')
        }

        //开始工作
        startWork();

    </script>

  <script src="../server.js"></script>

    <script src="./js/libs/socket.io.js"></script>
    <script>

        var socket = io.connect('http://localhost:3000');
        socket.on('test', function (data){
            console.log('PC端页面收到');
            console.log(data);
            switch (data.order){
                case 'play':
                    console.log(data.value);
                    playMusic(data.value);
                    break;
                case 'fast_ward':
                    console.log(data.value);
                    break;
                case 'fast_back':
                    console.log(data.value);
                    break;
                case 'setting':
                    console.log(data.value);
                    mPlayStyle = data.value;
                    switch (mPlayStyle){
                        case 'normal':
                            $('#play_style').html('顺序');
                            break;
                        case 'desc':
                            $('#play_style').html('倒序');
                            break;
                        case 'random':
                            $('#play_style').html('随机');
                            break;
                    }
                    break;
                case 'volume':
                    //设置声音大小
                    mAudio.volume = (+data.value)/100;
                    break
            }
        });

        function playMusic(orderValue) {

            switch (orderValue){
                case 'pp':
                    if(mAudio.paused){
                        mAudio.play();
                    }else{
                        mAudio.pause();
                    }
                    console.log(mAudio.paused)
                    break;
                case 'back':
                    console.log(mCurrentIndex);
                    if(mCurrentIndex == 0){
                        mCurrentIndex = (mList.length - 1);
                    }else{
                        mCurrentIndex --;
                    }
                    console.log(mList[mCurrentIndex]);
                    break;
                case 'front':
                    console.log(mCurrentIndex);
                    if(mCurrentIndex == (mList.length - 1)){
                        mCurrentIndex = 0;
                    }else{
                        mCurrentIndex ++;
                    }
                    console.log(mList[mCurrentIndex]);
                    break;
                case 'random':
                    var random = getRandom(0,mList.length - 1);
                    while (mCurrentIndex == random){
                        random = getRandom(0,mList.length - 1);
                    }
                    mCurrentIndex = random;
                    break;
            }
            //如果不是暂停播放命令
            if(orderValue != 'pp'){
                //设置音乐
                setMusic(mList[mCurrentIndex]);
                //播放(不要是暂停命令)
                mAudio.play();
            }
            
        }
    </script>

  <script>
      mAudio.onended = function() {
          switch (mPlayStyle){
              case 'normal':
                  playMusic('front');
                  break;
              case 'desc':
                  playMusic('back');
                  break;
              case 'random':
                  playMusic('random');
                  break;
          }
      };
  </script>
  </body>
</html>