html, body {
    background: lightpink;
    height:100%;
    margin:0;
    padding:0
}

.player_button {
    width: 2em;
    height: 2em;
    padding: 2px;
}

.words{
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    width: 100%;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

#main_div {
    width:100%;
    position:absolute;
    z-index:5;
    top:0;
}

#music_list{
    background:#FC0;
    width:100%;
    overflow:auto;
    top:0px;
    position:absolute;
    z-index:10;
    bottom:0px;
}